<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width = device-width, initial-scale=1.0">

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Dimension X: Fight for Survival | {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap: Latest compiled and minified CSS -->
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

            <!--Bootstrap: Optional theme and font awesome -->
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

            <!-- Load app CSS and fix img rewriting -->
            {% stylesheets 'bundles/curvegameweb/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <!-- End CSS loading -->
        {% endblock %}

        <!-- jQuery: Load... -->
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>

        <!-- Bootstrap: Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <!-- Favourites icon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <!-- Twig hack -->
        <div style="display: none" id="twigHack"
             data-api="{{ path('curve_game_api_root') }}"
             data-host="{{ app.request.host }}">
        </div>
         <!-- End twig hack -->
        {% block body %}{% endblock %}

        <!-- Start javascripts -->
        {% block javascripts %}

            <!-- Dynamic load JS -->
            {% javascripts
                        '@CurveGameWebBundle/Resources/public/js/plugins/*'
                        '@CurveGameWebBundle/Resources/public/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <!-- End dynamic loading -->
        {% endblock %}
        <!-- End javascripts -->
    </body>
</html>
