{{  form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
<a href="{{ path('cms_overview') }}">Overview alle spelers/Specifieke speler</a><br />
<a href="{{ path('delete') }}">Verwijder een speler</a><br />
<a href="{{ path('cms_edit') }}">Edit een status van een speler</a><br />
<a href="{{ path('cms_overview') }}">Overview</a>