<ul>
    {%  for user in Users %}
        <li>{{ user.UserName }}</li>
        <li>{{ user.Score }}</li>
        <li>{{ user.Id }}</li>
        <li>{{ user.DateTime|date('Y-m-d') }}</li>
    {% endfor %}
</ul>
<a href="{{ path('cms_overview') }}">Overview alle spelers/Specifieke speler</a><br />
<a href="{{ path('delete') }}">Verwijder een speler</a><br />
<a href="{{ path('cms_edit') }}">Edit een status van een speler</a><br />
<a href="{{ path('cms_overview') }}">Overview</a>